@mixin flex($type, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $type $wrap;
  justify-content: $justify;
  align-items: $align;
}
.task {
  &-header {
  }
  &-body {
    line-break: anywhere;
  }
  &-footer {
    @include flex(row, nowrap, end, center);
  }
}
