.tasks-list {
  &-title {
    &>h4{
      color: #5465ff !important;
      font-weight: 600;
      font-family: system-ui;
      letter-spacing: 5px;
    }
  }
  &-item {
    min-height: 100vh;
  }
}
